Team members : 

Dataset : Country level data

In [4]:
# Import libraries

import numpy as np 
import pandas as pd

In [5]:
# Function definitions

def load_data(file_path):
    """
    Function for reading a CSV file.
    Input: the path to the csv file.
    Output: a dataframe.
    """
    return pd.read_csv(file_path)

In [8]:
# Main block
if __name__ == "__main__":
    # Step 1: Data collection
    file_path = "country_level_data.csv"
    df = load_data(file_path)

    #Step 2: Indicators construction
    print(df.head())

         Date Contributor Contributor ISO-3  Contributor Capital Longitude  \
0  11/30/1990   Argentina               ARG                       -60.0000
1  11/30/1990   Australia               AUS                       149.1330
2  11/30/1990     Austria               AUT                        16.3667
3  11/30/1990     Belgium               BEL                         4.3501
4  11/30/1990  Bangladesh               BGD                        90.4334

   Contributor Capital Latitude Contributor Continent  \
0                      -36.5001         South America
1                      -35.2500               Oceania
2                       48.2000                Europe
3                       50.8502                Europe
4                       23.7168                  Asia

          Contributor Region Contributor UN Bloc Contributor - P5, G4 or A3  \
0              South America              GRULAC                        NaN
1  Australia and New Zealand                WEOG                        NaN
2             Western Europe                WEOG                        NaN
3             Western Europe                WEOG                        NaN
4              Southern Asia                 APG                        NaN

   Contributor - NAM  ...  Median Police Contribution  \
0                  0  ...                         NaN
1                  0  ...                        26.0
2                  0  ...                         NaN
3                  0  ...                         NaN
4                  1  ...                         NaN

   Police Contributions - SD  EOM Contributions  Average EOM Contribution  \
0                        NaN                NaN                       NaN
1                        NaN                NaN                       NaN
2                        NaN                NaN                       NaN
3                        NaN                NaN                       NaN
4                        NaN                NaN                       NaN

   Median EOM Contribution  EOM Contributions - SD  Total Contributions  \
0                      NaN                     NaN                   39
1                      NaN                     NaN                   41
2                      NaN                     NaN                  967
3                      NaN                     NaN                    4
4                      NaN                     NaN                    5

   Average Total Contribution  Median Total Contribution  \
0                   13.000000                        6.0
1                   13.666667                       13.0
2                  241.750000                      212.0
3                    2.000000                        2.0
4                    5.000000                        5.0

   Total Contributions - SD
0                 13.892444
1                 12.013881
2                269.362674
3                       NaN
4                       NaN

[5 rows x 34 columns]